/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  background-color: rgb(18, 73, 148);
}

#image-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-display img {
  max-width: 100%;
  height: auto;
}