/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  
}

/******************************************
/* LAYOUT
/*******************************************/

h1, h2, div, section, p {
  color: white;
  display: flex;
  justify-content: center;
}

.hidden{
	display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  background-color: rgb(18, 73, 148);
}